---
title: Home
layout: default
---

<div class="row">
  <div class="large-12 columns">
    <ul data-orbit data-options="bullets:false">
      <li>
        <img src="/img/KF5WWK_K5GST.jpg" alt="slider content">
        <div class="orbit-caption">K5GST issues KF5WKK his General Class ticket. Well done Cale!</div>
      </li>
      <li>
        <img src="/img/KA5WJY_WQ5C.jpg" alt="slider content">
        <div class="orbit-caption">WQ5C bestows General Class privileges upon KA5WJY. Great work Stephen! </div>
      </li>
      <li>
        <img src="/img/KG7PHX_WD5GQT.jpg" alt="slider content">
        <div class="orbit-caption">WD5GQT presents KG7PHX with his Extra Class CSCE. Congrats Tom!</div>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 columns">
        <h3> About Us </h3>
        <hr>
        <p>
        GVARC is a amateur radio club hailing from the Guadalupe Valley region of South Central Texas.  We hang out and eat breakfast tacos on Saturday mornings, throw a raucous field day event, hold regular VE testing sessions, and maintain a few repeaters.  Being an ARRL affilated club and LLC, we have club officers and hold quarterly business meetings.  In New Braunfels Ist Der Amateurfunk Sch&#246;n! 
        </p>
        <a href="/about/" class="button radius">Read More</a>
      </div>
      <div class="large-4 columns">
        <h3> Amateur Radio</h3>
        <hr>
        <p>
        Amateur radio (ham radio) is the use of designated radio frequency spectra for purposes of private recreation, non-commercial exchange of messages, wireless experimentation, self-training, and emergency communications.  Some people like HF, some like working the satellites.  Others like morse code (CW) and others yet are into the digital modes (PSK31, JT65, et. al.).
        </p>
      </div>
      <div class="large-4 columns">
        <h3> News </h3>
        <hr>
        {% for post in site.posts limit:4 %}
          <div class="panel radius">
            <a href="{{ post.url }}"><h5> {{ post.title }}</h5></a>
            {% if forloop.first  %}
             {{ post.excerpt | strip_html }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
