<!DOCTYPE html>
<!--[if IE 9]>    <html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en"> 

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }} | gvarc.org</title>

  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="/js/vendor/custom.modernizr.js"></script>
  {% include analytics.html %}
</head>
<body>
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/">gvarc.org</a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><a href="/news/">News</a></li>
      <li class="divider"></li>
      <li><a href="/about/">About Us</a></li>
      <li class="divider"></li>
      <li><a href="/rfops/">Radio Ops</a></li>
      <li class="divider"></li>
      <li><a href="/testing/">Testing</a></li>
      <li class="divider"></li>
      <li><a href="/calendar/">Event Calendar</a></li>
      <li class="divider"></li>
      <li><a href="/contact/">Contact Us</a></li>
      <li class="divider"></li>
      <li><a href="/info/">Local Hydro</a></li>
      <li class="divider"></li>
    </ul>
  </section>
  </nav> 
</div>
<br>
