---
title: September 2013 Testing Session Report
layout: news_item
author: NK5P
---

The second public testing session was held on the morning of September 21st, 2013 to avoid conflicts with the Belton Hamfest.  The session went off without a hitch and once again produced outstanding results.

We had three hams upgrade their licenses, and gained two new hams!

Congrats to all the candidates and a big thanks to the VE team, led by K5GST, for all that they do!


