---
layout: default
---
<div class="row">
  <div class="large-12 column">
    <article>
      <h1>
      <a href="{{ page.url }}">{{ page.title }}</a>
      </h1>
      <h6 class="subheader"> {{ page.date | date_to_string }} - {{ page.author }}</h6>
      {{ content }}
    </article>
  </div>
</div>

</br>
</br>

<div class="text-center">
  {% if page.next.url %}
    <a href="{{ page.next.url }}" class="button round small"> Newer </a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="button round small"> Older </a>
  {% endif %}
</div>
